body {
           margin: 0;
           display: flex;
           flex-direction: column;
           align-items: center;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           background-color: #f9f9f9;
        }
        nav {
         background-color: #333;
         padding: 15px;
         display: flex;
         justify-content: center;
         position: sticky;
         top: 0;
         width: 100%;
         z-index: 1000;
         }
        nav ul {
           list-style: none;
           display: flex;
           gap: 20px;
           margin: 0;
           padding: 0;
        }
         nav a {
           color: white;
           text-decoration: none;
           font-weight: bold;
           transition: color 0.3s;
        }
        nav a:hover {
           color: gold;
        }
        .container {
           width: 100%;
           max-width: 400px;
           padding: 20px;
           border: 1px solid gray;
           border-radius: 8px;
           box-shadow: 0 2px 8px rgba(0,0,0,0.1);
           display: flex;
           flex-direction: column;
           margin-top: 100px;
           background: white;
        }
        label{
        margin-top: 10px;
        font-weight: bold;
        }        
        input{
            margin: 5px 0;
            height: 30px;
            font-size: 15px;
            padding: 6px; 
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button{
            margin-top: 25px;
            height: 35px;
            max-width: 150px;
            cursor: pointer;
            border: none;
            background-color: #333;
            color: white;
            font-weight: bold;
            border-radius: 6px;
            transition: background 0.3s;
        }
        button:hover{
            background-color: #555
        }
        .container a {
            display: block;
            margin-top: 15px;
            text-align: center;
            color: #333;
            font-size: 14px;
            text-decoration: none;
            transition: color 0.3s;
        }
        .container a:hover {
            color: gold;
        }
        #mensagem-resultado {
            margin-top: 15px;
            text-align: center;
            font-weight: bold;
        }